p {
	margin: 0;
}

.btn:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

/* Panel css */
.panel {
	width:90vw;
	height: 90vh;
	margin: 2.2vw auto;
  overflow: hidden;
}
.panel .file .file-icon{
  width: 2rem;
  height: 2rem;
}
.panel .file p {
  margin-top: .5rem;
}
.panel .file-selected svg.file-icon {
  width: 100px;
  height: 100px;
  background-size: cover !important;
}
.panel .file-selected .file-icon {
  /* width: 8rem;
  height: 8rem; */
  background-size: cover !important;
}
.panel .file-selected p {
  font-size: 1.15em;
}
@media screen and (max-width: 768px) {
  .panel .border-start {
    border: 0 !important; 
  }
}
.hide-on-drag {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.show-on-drag {
  position: absolute;
  border: 2px dashed black;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}
/* Panel css */